/* table css styles */
.table-card .card-title {
    margin-bottom: 0;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.table-card .card-title .table-title {
    font-size: 1.1em;
    letter-spacing: 1.1px;
}

/* .table-card .card-title span .fas {
    cursor: pointer;
    color: #ccc;
}

.table-card .card-title span .fas:hover {
    color: #212529;
} */

.table-card .card-title .btn {
    color: royalblue;
    border-color: royalblue;
}

.table-card .card-title .btn:hover {
    color: white;
    background-color: royalblue;
}

.table-card .card-body {
    height: 70vh;
    overflow-y: scroll;
}

/* .table-card .card-body table {
    overflow-y: scroll;
} */

.table-card .card-body table tbody tr.active {
    opacity: 0.5;
}

.table-card .card-body table tbody .active-td {
    color: forestgreen;
}

.table-card .card-body table tbody .inactive-td {
    color: tomato;
}

.table-card .card-footer .table-pagination .list-group-item {
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.table-card .card-footer .table-pagination .list-group-item:hover {
    color: white;
    background-color: #ccc;
    border: 1px;
    border-color: #ccc;
}

.table-card .card-footer .table-pagination .list-group-item.active {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
}

.table-card .card-footer .table-pagination .list-group-item.disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
}

.table-card .card-body table tbody td .dropdown {
    cursor: pointer;
}

.table-card .card-body table tbody td .dropdown span .fas {
    color: #ccc;
}

.table-card .card-body table tbody td .dropdown span .fas:hover {
    color: #212529;
}

.table-card .card-body table tbody td .dropdown .dropdown-menu .dropdown-item {
    cursor: pointer;
}

/* .table-card .card-body table tbody tr .no-data-found {
    height: 50vh;
} */

.table-card .card-body table tbody tr .no-data-found span {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 45%;
}

/* End */


/* View Table Item modal css styles */

.modal .fas {
    /* color: #5E55E2; */
    color: royalblue;
    background: #D8D6FF;
    border-radius: 50%;
    padding: 10px;
    font-size: 14px;
    width: 35px;
    text-align: center;
}

.modal .modal-header {
    border: 0;
}

.modal .modal-footer {
    border: 0;
    background: #F4F5F7;
}

.modal label {
    font-size: 14px;
}

.modal .d-flex span {
    color: #69C5F6;
    font-size: 14px;
}

.modal span {
    cursor: pointer;
}

.modal .close:focus {
    outline: 0;
}

.modal .text-muted {
    font-size: 14px;
    padding: 0 60px;
    /* text-align: center; */
}

.modal .btn-primary {
    color: white;
    font-size: 14px;
    /* background: #5953FB; */
    background-color: cornflowerblue;
    /* border-color: cornflowerblue; */
}

.modal .btn-primary:focus {
    box-shadow: none;
}

.modal .btn-primary:hover {
    /* background: #5953FB; */
    background-color: royalblue;
    /* border-color: royalblue; */
}

.modal .btn-light:focus {
    box-shadow: none;
}

.modal .btn-light {
    color: #212529;
    font-size: 14px;
    background-color: #e1e1e4;
    /* border-color: #dadade; */
}

.modal .btn-light:hover {
    color: #212529;
    background-color: #f5f5f6;
    /* border-color: #f5f5f6; */
}

/* End */