<div id="content" class="flex">
    <div class="">
        <div class="page-content page-container" id="page-content">
            <div class="padding">
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <div class="card">
                            <div class="card-header app-title">
                                <h4>MiNi HRMS</h4>
                                <strong>Forgot password</strong>
                            </div>
                            <div class="card-body" *ngIf="formStep == 1">
                                <form #emailForm="ngForm">
                                    <div class="form-group">
                                        <label class="text-muted" for="InputEmail">Email address</label>
                                        <input type="email" class="form-control" name="emailname" id="InputEmail" aria-describedby="emailHelp"
                                            placeholder="Enter email address" [(ngModel)]="emailName" #emailname="ngModel" required>
                                        <span class="error-msg" *ngIf="emailname?.invalid && (emailname?.dirty || emailname?.touched)">
                                            <span *ngIf="emailname?.errors?.required">
                                                <span class="err">ERROR :</span> Email address is required.
                                            </span>
                                        </span>
                                    </div>
                                    <div class="form-group forgot-pwd-cmp" *ngIf="isValidEmail">
                                        <label class="text-muted" for="InputOTP">One Time Password</label>
                                        <div class="otp-form">
                                            <ng-otp-input (onInputChange)="onOtpChange($event)" #ngOtpInput [config]="otpConfig"></ng-otp-input>
                                            <span class="timer">{{ setTime }}</span>
                                        </div>
                                    </div>
                                    <div class="action-btn" *ngIf="!isValidEmail">
                                        <button type="submit" class="btn btn-primary col-6 d-flex justify-content-center align-items-baseline" 
                                            [disabled]="spinner || !emailName" (click)="getValidateAdminEmail()">
                                            <!-- Send OTP -->
                                            <span *ngIf="!spinner"><i class="fas fa-sign-in-alt px-2"></i></span>
                                            <span class="ml-2" *ngIf="!spinner">Send OTP</span>
                                            <span *ngIf="spinner"><i class="fas fa-spinner fa-spin px-2"></i></span>
                                            <span class="ml-2" *ngIf="spinner">Sending...</span>
                                        </button>
                                        <a [routerLink]="['/admin/login']">Try Login ?</a>
                                    </div>
                                    <div class="action-btn" *ngIf="isValidEmail">
                                        <button type="submit" class="btn btn-primary col-6 d-flex justify-content-center align-items-baseline" 
                                            [disabled]="spinner || setOtpFormValidation()" (click)="validateOTP()">
                                            <!-- Validate OTP -->
                                            <span *ngIf="!spinner"><i class="fas fa-sign-in-alt px-2"></i></span>
                                            <span class="ml-2" *ngIf="!spinner">Validate OTP</span>
                                            <span *ngIf="spinner"><i class="fas fa-spinner fa-spin px-2"></i></span>
                                            <span class="ml-2" *ngIf="spinner">Validating...</span>
                                        </button>
                                        <a [routerLink]="['/admin/login']">Try Login ?</a>
                                    </div>
                                </form>
                            </div>
                            <div class="card-body" *ngIf="formStep == 2">
                                <form #passwordForm="ngForm">
                                    <div class="form-group">
                                        <label class="text-muted" for="InputNewPassword">New password</label>
                                        <input type="password" class="form-control" name="newpassword" id="InputNewPassword" aria-describedby="passwordHelp" 
                                            placeholder="New password" [(ngModel)]="newPassword" #newpassword="ngModel" required>
                                        <span class="error-msg" *ngIf="newpassword?.invalid && (newpassword?.dirty || newpassword?.touched)">
                                            <span *ngIf="newpassword?.errors?.required">
                                                <span class="err">ERROR :</span> New password is required.
                                            </span>
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label class="text-muted" for="InputConfirmPassword">Confirm password</label>
                                        <input type="text" class="form-control" name="confirmpassword" id="InputConfirmPassword" aria-describedby="passwordHelp" 
                                            placeholder="Confirm password" [(ngModel)]="confirmPassword" #confirmpassword="ngModel" required>
                                        <span class="error-msg" *ngIf="confirmpassword?.invalid && (confirmpassword?.dirty || confirmpassword?.touched)">
                                            <span *ngIf="confirmpassword?.errors?.required">
                                                <span class="err">ERROR :</span> Confirm password is required.
                                            </span>
                                        </span>
                                    </div>
                                    <div class="action-btn">
                                        <button type="submit" class="btn btn-primary col-6 d-flex justify-content-center align-items-baseline" 
                                            [disabled]="spinner || setFormValidation()" (click)="updateAdminPassword()">
                                            <!-- Login -->
                                            <span *ngIf="!spinner"><i class="fas fa-sign-in-alt px-2"></i></span>
                                            <span class="ml-2" *ngIf="!spinner">Update Password</span>
                                            <span *ngIf="spinner"><i class="fas fa-spinner fa-spin px-2"></i></span>
                                            <span class="ml-2" *ngIf="spinner">Updating...</span>
                                        </button>
                                        <a [routerLink]="['/admin/login']">Try Login ?</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>