body {
    background-color: #f9f9fa;
    /* background-image: url('../../../../assets/images/hrms_full_logo.jpg') !important;
    background-size: cover !important; */
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem;
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem;
    }
}

.padding {
    padding: 5rem;
}

.card {
    background: #fff;
    border-width: 0;
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    margin-bottom: 1.5rem;
}

.card-header {
    background-color: transparent;
    border-color: rgba(160, 175, 185, .15);
    background-clip: padding-box;
}

.card-body p:last-child {
    margin-bottom: 0;
}

.card-hide-body .card-body {
    display: none;
}

.form-check-input.is-invalid~.form-check-label,
.was-validated .form-check-input:invalid~.form-check-label {
    color: #f54394;
}

.btn-primary {
    color: white;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}

.btn-primary:hover {
    background-color: royalblue;
    border-color: royalblue;
}

.action-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-btn a {
    color: cornflowerblue;
    text-decoration: none;
    cursor: pointer;
}

.action-btn a:hover {
    color: royalblue;
}

.app-title h4 {
    color: cornflowerblue;
    letter-spacing: 2px;
}

.app-title strong {
    color: lightcoral;
    font-weight: 400;
}

.error-msg {
    color: lightcoral;
    font-size: 0.8em;
}

.error-msg .err {
    color: indianred;
    font-size: 0.8em;
    font-weight: bold;
}

.disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
}