/* You can add global styles to this file, and also import other style files */

/* admin sidemenu styles */
/* @import '~bootstrap/css/bootstrap'; */
/* @import '~@fortawesome/fontawesome-free/css/fontawesome';
@import '~@fortawesome/fontawesome-free/css/solid';
@import '~@fortawesome/fontawesome-free/css/regular'; */
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

body {
    font-size: 0.9rem;
}

.page-wrapper.toggled .sidebar {
    left: -300px;
}

.sidebar .ps.ps--scrolling-y>.ps__rail-y,
.sidebar>.ps.ps--scrolling-x>.ps__rail-x,
.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
    background-color: transparent !important;
}

.sidebar .ps.ps--active-y>.ps__rail-y:hover,
.sidebar>.ps.ps--active-y>.ps__rail-y.ps--clicking {
    width: 10px !important;
}

.ps__thumb-y {
    background-color: #fff !important;
    width: 6px !important;
    border-radius: 0px !important;
    opacity: 0.5;
}

/* End */


/* admin main content styles */
.page-wrapper {
    height: 100vh;
}

.page-wrapper .page-content {
    display: inline-block;
    width: 100%;
    padding-top: 50px;
    transition: padding-left 0.3s ease;
}

@media screen and (min-width: 768px) {
    .page-wrapper .page-content {
        /* padding-left: 300px; */
        padding-left: 270px;
    }
}

.page-wrapper .page-content .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background: #000;
    opacity: 0.5;
    display: none;
}

@media screen and (max-width: 768px) {
    .page-wrapper .page-content .overlay.show {
        display: block;
    }
}

.page-wrapper .sidebar {
    left: 0px;
}

.page-wrapper.toggled .page-content {
    padding-left: 0;
}

.page-wrapper .attribution {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    margin: 5px;
    letter-spacing: 1px;
}

.page-content .btn {
    cursor: pointer;
}

#show-sidebar {
    position: fixed;
    left: 0;
    top: 10px;
    border-radius: 0 4px 4px 0px;
    width: 35px;
    transition-delay: 0.3s;
    z-index: 9;
}

.page-wrapper.toggled #show-sidebar {
    left: 0px;
}

#show-sidebar {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* End */


/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #dee2e6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: lightslategray;
}

html,
body {
    background-color: #dee2ec;
    /* background-color: white; */
    /* background-image: url('./assets/images/hrms_full_logo.jpg');
    background-size: cover; */
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
table th {
    font-family: "Montserrat";
    font-weight: 200;
}

p,
span,
a,
ul li,
table td,
input,
textarea,
select,
button {
    font-family: "Nunito";
    font-weight: 100;
}

/* input,
  select,
  textarea {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid crimson !important;
  } */

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.required:after {
    content: " *";
    color: orangered;
}

.field-required:after {
    content: " *";
    color: orangered;
}

/* angular2-multiselect {
      height: 50px;
      padding: 10px;
      font-size: 1em;
      color: gray;
  } */

ng-multiselect-dropdown .dropdown-list {
    padding-top: 0 !important;
    margin-top: 0 !important;
    border: none !important;
    border-radius: none !important;
}

.toast {
    max-width: 30% !important;
    color: white !important;
    background-color: #7386d5 !important;
    /* text-align: center !important; */
    font-size: 1em !important;
}

/* css tooltip styles */
.tooltip-inner {
    margin-top: -20px;
    padding: 10px;
    color: #212529;
    text-align: center;
    font-weight: 600;
    background: white;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.forgot-pwd-cmp ng-otp-input input {
    width: 40px !important;
    height: 40px !important;
    font-size: 16px !important;
}